/*	style definitions	*/
button {
  position: absolute;
}

#blue {
  top: 1em;
  left: 1em;
}

#orange {
  top: 1em;
  left: 8em;
}

#green {
  top: 1em;
  left: 16em;
}

.node {
  stroke: white;
  stroke-width: 2px;
}

.link {
  stroke: gray;
  stroke-width: 4px;
}

svg{
  border-radius: 10px;
  border: 3px solid #BADA55;
}